# My temp files
plugin/
sessions/
undodir/
time_cost.txt
tags
# Backup files
.doom_releases
.doom_backup_hash
# editor artifacts
*~
*.swp
# OS files
.DS_Store
# Doom Nvim Contrib files
docker/doom-nvim-contrib
docker/local-share-nvim
docker/workspace
